In [1]:
import pandas as pd
import numpy as np
BPSO = pd.read_csv("Dataset2_BPSO.txt", index_col=False)
BPSO_OBL = pd.read_csv("Dataset2_BPSO+OBL.txt", index_col=False)
SFS = pd.read_csv("Dataset2_SFS.txt", index_col=False)

In [2]:
BPSO

   Train Score  Test Score
0     0.843373    0.785714
1     0.837349    0.880952
2     0.813253    0.928571
3     0.867470    0.714286
4     0.879518    0.738095
5     0.813253    0.928571
6     0.837349    0.857143
7     0.861446    0.642857
8     0.843373    0.809524
9     0.843373    0.833333

In [3]:
BPSO_OBL

   Train Score  Test Score
0     0.837349    0.761905
1     0.831325    0.833333
2     0.807229    0.880952
3     0.855422    0.785714
4     0.843373    0.809524
5     0.813253    0.880952
6     0.825301    0.833333
7     0.849398    0.690476
8     0.861446    0.738095
9     0.813253    0.738095

In [4]:
SFS

   Train Score  Test Score
0     0.849398    0.809524
1     0.819277    0.785714
2     0.807229    0.857143
3     0.825301    0.690476
4     0.879518    0.714286
5     0.837349    0.833333
6     0.843373    0.809524
7     0.885542    0.523810
8     0.819277    0.666667
9     0.825301    0.809524

In [5]:
BPSO.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.843976    0.811905
std       0.021336    0.093536
min       0.813253    0.642857
25%       0.837349    0.750000
50%       0.843373    0.821429
75%       0.856928    0.875000
max       0.879518    0.928571

In [6]:
BPSO_OBL.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.833735    0.795238
std       0.018880    0.063690
min       0.807229    0.690476
25%       0.816265    0.744048
50%       0.834337    0.797619
75%       0.847892    0.833333
max       0.861446    0.880952

In [7]:
SFS.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.839157    0.750000
std       0.026035    0.101792
min       0.807229    0.523810
25%       0.820783    0.696429
50%       0.831325    0.797619
75%       0.847892    0.809524
max       0.885542    0.857143

In [8]:
SFS.describe().iloc[1]

Train Score    0.839157
Test Score     0.750000
Name: mean, dtype: float64

In [9]:
Results = pd.DataFrame()

In [10]:
Results['BPSO']= BPSO.describe().iloc[1]
Results['BPSO+OBL']=BPSO_OBL.describe().iloc[1]
Results['SFS'] = SFS.describe().iloc[1]

In [11]:
Results

                 BPSO  BPSO+OBL       SFS
Train Score  0.843976  0.833735  0.839157
Test Score   0.811905  0.795238  0.750000