In [12]:
import pandas as pd
import numpy as np
BPSO = pd.read_csv("Dataset3_BPSO.txt", index_col=False)
BPSO_OBL = pd.read_csv("Dataset3_BPSO+OBL.txt", index_col=False)
SFS = pd.read_csv("Dataset3_SFS.txt", index_col=False)

In [13]:
BPSO

   Train Score  Test Score
0     0.910526    0.802083
1     0.926316    0.750000
2     0.918421    0.843750
3     0.926316    0.833333
4     0.915789    0.854167
5     0.921053    0.822917
6     0.926316    0.802083
7     0.918421    0.802083
8     0.936842    0.791667
9     0.902632    0.802083

In [14]:
BPSO_OBL

   Train Score  Test Score
0     0.915789    0.833333
1     0.931579    0.802083
2     0.921053    0.833333
3     0.928947    0.770833
4     0.907895    0.822917
5     0.918421    0.802083
6     0.923684    0.822917
7     0.921053    0.843750
8     0.936842    0.770833
9     0.926316    0.812500

In [15]:
SFS

   Train Score  Test Score
0     0.871053    0.833333
1     0.889474    0.791667
2     0.886842    0.812500
3     0.907895    0.718750
4     0.878947    0.822917
5     0.878947    0.739583
6     0.886842    0.791667
7     0.892105    0.760417
8     0.907895    0.708333
9     0.857895    0.822917

In [16]:
BPSO.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.920263    0.810417
std       0.009533    0.029788
min       0.902632    0.750000
25%       0.916447    0.802083
50%       0.919737    0.802083
75%       0.926316    0.830729
max       0.936842    0.854167

In [17]:
BPSO_OBL.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.923158    0.811458
std       0.008303    0.025254
min       0.907895    0.770833
25%       0.919079    0.802083
50%       0.922368    0.817708
75%       0.928289    0.830729
max       0.936842    0.843750

In [18]:
SFS.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.885789    0.780208
std       0.015355    0.045657
min       0.857895    0.708333
25%       0.878947    0.744792
50%       0.886842    0.791667
75%       0.891447    0.820312
max       0.907895    0.833333

In [19]:
SFS.describe().iloc[1]

Train Score    0.885789
Test Score     0.780208
Name: mean, dtype: float64

In [20]:
Results = pd.DataFrame()

In [21]:
Results['BPSO']= BPSO.describe().iloc[1]
Results['BPSO+OBL']=BPSO_OBL.describe().iloc[1]
Results['SFS'] = SFS.describe().iloc[1]

In [22]:
Results

                 BPSO  BPSO+OBL       SFS
Train Score  0.920263  0.923158  0.885789
Test Score   0.810417  0.811458  0.780208